EnOcean_DoorSensorState.json
[{"id":"4aee3149.4223c8","type":"link out","z":"fd31578b.860f18","name":"Window OPEN -> ECO mode","links":["27e597a6.4d8a88"],"x":1095,"y":400,"wires":[]},{"id":"724daadc.14e714","type":"link out","z":"fd31578b.860f18","name":"Window CLOSED -> AUTO mode","links":["cfc5038c.49fbe8"],"x":1095,"y":360,"wires":[]},{"id":"80f99df6.7cbfd8","type":"enocean-in","z":"fd31578b.860f18","serialport":"4fbf42e5.8603bc","name":"input","x":330,"y":240,"wires":[["3cc56c35.c57494","b17e108a.539388"]],"info":"Light and Blind Control - Application Style 1"},{"id":"1ed33721.6d9721","type":"inject","z":"fd31578b.860f18","name":"LRN","topic":"","payload":"{\"type\":\"LRN\",\"duration\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":420,"wires":[["b17e108a.539388"]]},{"id":"7c499949.80aac","type":"inject","z":"fd31578b.860f18","name":"DEL","topic":"","payload":"{\"type\":\"DEL\",\"duration\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":380,"wires":[["b17e108a.539388"]]},{"id":"cca554d9.ac824","type":"inject","z":"fd31578b.860f18","name":"manuell teach in","topic":"","payload":"{\"type\":\"LRN\",\"senderId\":\"05822d73\",\"eep\":\"d5-00-01\",\"direction\":1,\"name\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":340,"wires":[["b17e108a.539388"]]},{"id":"e5a95c94.dc7648","type":"debug","z":"fd31578b.860f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":240,"wires":[]},{"id":"856f4afe.553468","type":"inject","z":"fd31578b.860f18","name":"manuell delete","topic":"","payload":"{\"type\":\"DEL\",\"senderId\":\"05822d73\",\"eep\":\"D5-00-01\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":300,"wires":[["b17e108a.539388"]]},{"id":"ed808ef5.a8f838","type":"debug","z":"fd31578b.860f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"meta","targetType":"msg","x":800,"y":280,"wires":[]},{"id":"e8747c77.2b2ff8","type":"debug","z":"fd31578b.860f18","name":"OPEN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":420,"wires":[]},{"id":"6f9ba645.12db2","type":"debug","z":"fd31578b.860f18","name":"CLOSED","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":340,"wires":[]},{"id":"4c0557be.a4db","type":"switch","z":"fd31578b.860f18","name":"","property":"payload.CO.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":380,"wires":[["6f9ba645.12db2","724daadc.14e714"],["e8747c77.2b2ff8","4aee3149.4223c8"]]},{"id":"b17e108a.539388","type":"enocean-actor","z":"fd31578b.860f18","name":"","x":590,"y":320,"wires":[["e5a95c94.dc7648","ed808ef5.a8f838","4c0557be.a4db","4b3f03ce.536e1c"]]},{"id":"4fbf42e5.8603bc","type":"enocean-config-node","z":"","serialport":"/dev/ttyAMA0"}]
