eq3_LOCK_example_flow.json
[{"id":"ec4cb9ec.ebdb38","type":"ui_button","z":"f1275c82.97ce78","name":"Lock","group":"263eab0c.0deb04","order":1,"width":0,"height":0,"passthru":false,"label":"Lock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":80,"wires":[["f9520e87.90e638"]]},{"id":"f9520e87.90e638","type":"exec","z":"f1275c82.97ce78","command":"sudo systemctl stop bluetooth","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"sudo systemctl stop bluetooth","x":290,"y":80,"wires":[["d0ddb9a0.04c938"],[],[]]},{"id":"d0ddb9a0.04c938","type":"delay","z":"f1275c82.97ce78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":80,"wires":[["f44c02e8.a70d58"]]},{"id":"f44c02e8.a70d58","type":"exec","z":"f1275c82.97ce78","command":"sudo systemctl start bluetooth","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"sudo systemctl start bluetooth","x":570,"y":140,"wires":[["d2e80717.f0e18"],[],[]]},{"id":"d2e80717.f0e18","type":"delay","z":"f1275c82.97ce78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":140,"wires":[["d3774da8.60f138"]]},{"id":"d3774da8.60f138","type":"exec","z":"f1275c82.97ce78","command":"/home/pi/eq3/eq3.exp 00:1A:22:06:BF:AC lock","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stuff/Eeszemmer LOCK","x":570,"y":200,"wires":[["9d743775.08863","f7d464cd.0d589","2ecee9.fed8d118"],["481fffdc.d9f368"],["6ecd311a.716a2"]]},{"id":"2ecee9.fed8d118","type":"delay","z":"f1275c82.97ce78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":200,"wires":[["9b86c8cd.877c18"]]},{"id":"9b86c8cd.877c18","type":"exec","z":"f1275c82.97ce78","command":"/home/pi/eq3/eq3.exp 00:1A:22:06:BF:C1 lock","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stuff/Fenster LOCK","x":580,"y":260,"wires":[["c5e1bf2f.2f5b5","9d743775.08863","ec2d4b.32db32b8"],["481fffdc.d9f368"],["6ecd311a.716a2"]]},{"id":"ec2d4b.32db32b8","type":"delay","z":"f1275c82.97ce78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":260,"wires":[["9dd2b373.7ba71"]]},{"id":"9dd2b373.7ba71","type":"exec","z":"f1275c82.97ce78","command":"/home/pi/eq3/eq3.exp 00:1A:22:06:C1:4A lock","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Stuff/TV LOCK","x":600,"y":320,"wires":[["ba42e1d8.d656e8","9d743775.08863","c188ef10.49d42"],["481fffdc.d9f368"],["6ecd311a.716a2"]]},{"id":"c188ef10.49d42","type":"delay","z":"f1275c82.97ce78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":320,"wires":[["d3c0c468.5d6d8"]]},{"id":"d3c0c468.5d6d8","type":"exec","z":"f1275c82.97ce78","command":"sudo systemctl stop bluetooth","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"sudo systemctl stop bluetooth","x":1510,"y":840,"wires":[[],[],[]]},{"id":"9d743775.08863","type":"debug","z":"f1275c82.97ce78","name":"stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":20,"wires":[]},{"id":"481fffdc.d9f368","type":"debug","z":"f1275c82.97ce78","name":"stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":60,"wires":[]},{"id":"6ecd311a.716a2","type":"debug","z":"f1275c82.97ce78","name":"return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":100,"wires":[]},{"id":"263eab0c.0deb04","type":"ui_group","z":"","name":"Stuff Group","tab":"225d371e.fb7e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"225d371e.fb7e68","type":"ui_tab","z":"","name":"Heizung Stuff","icon":"dashboard","order":3,"disabled":false,"hidden":false}]